In [1]:
import pandas as pd
import numpy as np 
import re

In [2]:
df = pd.read_csv('/content/news_data_20335.csv',)
df.head()

,Unnamed: 0,date,content
0,0,2022.02.26. 오후 3:45,25일(현지 시각) 우크라이나 현지 매체 HB는 트위터에 30초짜리 짧은 영상과 함...
1,1,2022.02.14. 오전 3:03,에마뉘엘 마크롱 프랑스 대통령이 10일(현지시간) 동부 벨포르에서 원자력 발전용 증...
2,2,2022.02.26. 오전 9:21,[경향신문] 정의용 외교부 장관이 25일 전 재외공관장과 화상 회의를 열어 발언하고...
3,3,2022.02.02. 오전 10:57,승려들은 왜 반발할까관리자 존재하지만한 쪽으로 치우친 ‘사찰 부지 공공재’ 인식사찰...
4,4,2022.02.13. 오후 4:48,사진 '가비엔제이' 제니 인스타그램 캡처. 그룹 가비엔제이 제니와...

In [3]:
lst =[]
for i in range(len(df)):
  txt = df['content'][i]
  lst.append(txt)
  # print(txt)

In [4]:
lst = [df['content'][i] for i in range(len(df))]

In [5]:
# clean _text 함수 
def clean_text(x):
  sample_0=re.sub(r'\([^)]*\)|\[[^)]*\]', '', x) # 괄호 및 괄호안 텍스트 제거 
  sample_1 = re.sub(r'\/조선DB|\/AFP 연합뉴스|\/연합뉴스|연합뉴스','',sample_0) # /조선DB /AFG 연합뉴스 꼬리말 제거 
  sample_2 = re.sub('\s|[^0-9a-zA-Z가-힣]',' ',sample_1) # 공백, 문자 숫자 외 제거 특수문자 제거 
  sample_3 = re.sub('\s{2,}',' ',sample_2)  # 공백 2개 이상 제거 
  return sample_3

#Date 수정

In [6]:
date = df['date']
date

0         2022.02.26. 오후 3:45
1         2022.02.14. 오전 3:03
2         2022.02.26. 오전 9:21
3        2022.02.02. 오전 10:57
4         2022.02.13. 오후 4:48
                 ...
18976     2022.02.17. 오전 8:20
18977    2022.02.14. 오후 10:02
18978     2022.02.21. 오후 4:01
18979     2022.02.24. 오전 4:31
18980     2022.02.15. 오전 7:08
Name: date, Length: 18981, dtype: object

In [7]:
p=re.compile(('\w{4}.\w+.\w+'))
m = p.search(date[0])
m.group()

'2022.02.26'

In [8]:
date_lst =[]
for i in date:
  m = p.search(i)
  date_lst.append(m.group())

# date_lst # date 리스트 추출

In [9]:
#연월일 추출

In [10]:
# 연월일 추출 
year  = []
month =[]
day = []
for idx, i in enumerate(date_lst):
  date_split = date_lst[idx].split('.')
  year.append(date_split[0])
  month.append(date_split[1])
  day.append(date_split[2])

In [11]:
# 연월일 데이터 셋 형성 
date_df = pd.DataFrame({'Year':year,'Month':month,'Day':day})
date_df.head()

   Year Month Day
0  2022    02  26
1  2022    02  14
2  2022    02  26
3  2022    02  02
4  2022    02  13

In [12]:
print(date_df.shape)
print(df.shape)

(18981, 3)
(18981, 3)

#Data 체크

In [13]:
lst[135]

'현대차가 친환경 수소전기버스 \'일렉시티 FCEV\'를 오스트리아 대중교통 기업 \'비너 리니엔\'(Wiener Linien)에 공급했으며, 빈 시내에서 시민들이 가장 많이 탑승하는 노선에 우선 투입돼 운행을 시작했다고 27일 밝혔다. 사진은 오스트리아 시내버스 노선에 투입된 현대차 수소전기버스. 연합뉴스       현대차의 친환경 수소전기버스가 오스트리아 수도 빈의 시내버스 정규노선에 투입됐다.      현대차는 수소전기버스 \'일렉시티 FCEV\'가 빈 시내에서 시민들이 가장 많이 탑승하는 노선에 우선 투입돼 운행을 시작했다고 27일 밝혔다.      현대차는 오스트리아 정부의 수소 인프라 확충 및 사업 주도를 위한 \'하이버스 프로젝트\'(HyBus Project) 일환으로 일렉시티 FCEV 3대를 오스트리아 대중교통 기업 \'비너리니엔\'(Wiener Linien)에 공급했다.      현대차가 외국에 수소전기버스를 시내버스용으로 수출한 것은 이번이 처음이다.      현대차가 친환경 수소전기버스 \'일렉시티 FCEV\'를 오스트리아 대중교통 기업 \'비너 리니엔\'(Wiener Linien)에 공급했으며, 빈 시내에서 시민들이 가장 많이 탑승하는 노선에 우선 투입돼 운행을 시작했다고 27일 밝혔다. 사진은 오스트리아 시내버스 노선에 투입된 현대차 수소전기버스. 연합뉴스       일렉시티 FCEV는 빈을 시작으로 그라츠, 잘츠부르크 등 오스트리아 주요 도시의 다양한 노선에서 순차적으로 운행된다. 현대차에 따르면 일렉시티 FCEV는 우수한 성능의 연료전지 시스템과 동급 최대 용량의 수소 탱크를 적용해 1회 충전으로 최대 550㎞를 주행할 수 있다.      현대차는 "긴 주행거리와 짧은 충전 시간 등 우수한 상품성을 갖춰 차량 밀도가 높고 신호등 간 거리가 짧은 빈의 도로 요건에 적합하다는 평가를 받아 하이버스 프로젝트의 파트너로 선정됐다"고 밝혔다.      현대차는 이번 일렉시티 FCEV의 오스트리아 공급을 통해 차별화된 친환경차 기술력을 입증하는 동시에 향후 수소전기버스 사업을 확장할 수 있을 것으로 전망했다.       현대차 관계자는 "수소전기버스의 우수한 기술력을 인정받아 해외 최초로 시내버스 정규노선에 투입해 운행하게 되어 굉장히 뜻깊다"면서 "앞으로도 다양한 국가에 수소전기버스 보급을 확대해 나갈 수 있도록 지속해서 노력할 것"이라고 말했다.'

#API 활용 Hannanum

In [14]:
! pip install konlpy

Requirement already satisfied: konlpy in /usr/local/lib/python3.7/dist-packages (0.6.0)
Requirement already satisfied: JPype1>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.3.0)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.21.5)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.2.6)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (3.10.0.2)

In [15]:
 from konlpy.tag import Kkma, Komoran, Okt, Hannanum

In [16]:
df['content']

0        25일(현지 시각) 우크라이나 현지 매체 HB는 트위터에 30초짜리 짧은 영상과 함...
1        에마뉘엘 마크롱 프랑스 대통령이 10일(현지시간) 동부 벨포르에서 원자력 발전용 증...
2        [경향신문] 정의용 외교부 장관이 25일 전 재외공관장과 화상 회의를 열어 발언하고...
3        승려들은 왜 반발할까관리자 존재하지만한 쪽으로 치우친 ‘사찰 부지 공공재’ 인식사찰...
4        사진 '가비엔제이' 제니 인스타그램 캡처.           그룹 가비엔제이 제니와...
                               ...
18976    [경향신문] 올라프 숄츠 독일 총리. | 로이터연합뉴스조 바이든 미국 대통령과 올라...
18977    김병욱 국민의힘 의원. 뉴시스    국민의힘 김병욱 의원(포항남·울릉)은 15일부터...
18978    ‘존 바에즈 에센셜 워크’1천장 한정판 출시전설적인 포크 가수 존 바에즈. 존 바에...
18979    지난해 게임업계 동반 '실적 부진'"신작 지연도 재택근무 영향" 주장에"부진 원인을...
18980    2인, 7일 격리시 41만원   14일부터 코로나19 생활지원비는 입원·격리통지를 ...
Name: content, Length: 18981, dtype: object

In [17]:
okt = Okt()
kkm = Kkma() 
# etri API 
han = Hannanum()

In [18]:
clean_words_han= [word[0] for word in han.pos(clean_text(lst[0])) if word[1] =='N']

In [19]:
clean_text(lst[0])

'25일 우크라이나 현지 매체 HB는 트위터에 30초짜리 짧은 영상과 함께 우크라이나인이 점령군이 지나가지 못하도록 적에게 돌진하고 있다 는 글을 올렸다 러시아 군사차량을 막아선 남성 트위터 영상 속에는 차도로 줄지어 이동 중이던 러시아 군용 차량 한 대가 갑자기 방향을 꺾는 모습이 담겼다 양 팔을 벌린 한 남성이 차량을 제지하며 차량 앞으로 뛰어들었기 때문이다 차량이 방향을 바꿔 다시 이동하자 그는 차량을 따라 옆으로 이동했다 pic twitter com cZ29kknqhB February 25 2022가디언은 이 남성이 중국 천안문 사태 당시 탱크맨 과 비교되며 온라인에서 주목 받고 있다고 전했다 탱크맨은 중국 정부가 천안문 광장에서 탱크와 장갑차를 동원해 시위를 유혈 진압하던 당시 탱크 앞을 홀로 가로 막은 남성이다 이후 국가폭력에 대한 저항의 상징처럼 여겨졌다 제프 와이드너가 촬영한 천안문 사태 탱크맨 의 사진 '

In [105]:
# 유사어 처리 
dic_chng = {'코로나' : ['코로나 19','코로나19','covid-19','신종 코로나바이러스 감염증']
            ,'HIV' :['인체면역결핍바이러스']
            ,'이재명':['이후보','이 후보']
            ,'윤석열':['윤후보','윤 후보']
            }
chng_map ={word:k for k,v in dic_chng.items() for word in v}
chng_map

{'covid-19': '코로나',
 '신종 코로나바이러스 감염증': '코로나',
 '윤 후보': '윤석열',
 '윤후보': '윤석열',
 '이 후보': '이재명',
 '이후보': '이재명',
 '인체면역결핍바이러스': 'HIV',
 '코로나 19': '코로나',
 '코로나19': '코로나'}

In [95]:
content =df['content']
content

0        25일(현지 시각) 우크라이나 현지 매체 HB는 트위터에 30초짜리 짧은 영상과 함...
1        에마뉘엘 마크롱 프랑스 대통령이 10일(현지시간) 동부 벨포르에서 원자력 발전용 증...
2        [경향신문] 정의용 외교부 장관이 25일 전 재외공관장과 화상 회의를 열어 발언하고...
3        승려들은 왜 반발할까관리자 존재하지만한 쪽으로 치우친 ‘사찰 부지 공공재’ 인식사찰...
4        사진 '가비엔제이' 제니 인스타그램 캡처.           그룹 가비엔제이 제니와...
                               ...
18976    [경향신문] 올라프 숄츠 독일 총리. | 로이터연합뉴스조 바이든 미국 대통령과 올라...
18977    김병욱 국민의힘 의원. 뉴시스    국민의힘 김병욱 의원(포항남·울릉)은 15일부터...
18978    ‘존 바에즈 에센셜 워크’1천장 한정판 출시전설적인 포크 가수 존 바에즈. 존 바에...
18979    지난해 게임업계 동반 '실적 부진'"신작 지연도 재택근무 영향" 주장에"부진 원인을...
18980    2인, 7일 격리시 41만원   14일부터 코로나19 생활지원비는 입원·격리통지를 ...
Name: content, Length: 18981, dtype: object

In [96]:
content = content.replace(chng_map,regex=True)  # 유사어 처리 
content =list(content)

In [97]:
content_2 = [clean_text(str(x)) for x in content] # 데이터 정제

In [ ]:
clean_words_han= [word[0] for word in han.pos(clean_text(content[135])) if word[1] =='N']
clean_words_han

In [84]:
clean_text(content[135])

'현대차가 친환경 수소전기버스 일렉시티 FCEV 를 오스트리아 대중교통 기업 비너 리니엔 에 공급했으며 빈 시내에서 시민들이 가장 많이 탑승하는 노선에 우선 투입돼 운행을 시작했다고 27일 밝혔다 사진은 오스트리아 시내버스 노선에 투입된 현대차 수소전기버스 현대차의 친환경 수소전기버스가 오스트리아 수도 빈의 시내버스 정규노선에 투입됐다 현대차는 수소전기버스 일렉시티 FCEV 가 빈 시내에서 시민들이 가장 많이 탑승하는 노선에 우선 투입돼 운행을 시작했다고 27일 밝혔다 현대차는 오스트리아 정부의 수소 인프라 확충 및 사업 주도를 위한 하이버스 프로젝트 일환으로 일렉시티 FCEV 3대를 오스트리아 대중교통 기업 비너리니엔 에 공급했다 현대차가 외국에 수소전기버스를 시내버스용으로 수출한 것은 이번이 처음이다 현대차가 친환경 수소전기버스 일렉시티 FCEV 를 오스트리아 대중교통 기업 비너 리니엔 에 공급했으며 빈 시내에서 시민들이 가장 많이 탑승하는 노선에 우선 투입돼 운행을 시작했다고 27일 밝혔다 사진은 오스트리아 시내버스 노선에 투입된 현대차 수소전기버스 일렉시티 FCEV는 빈을 시작으로 그라츠 잘츠부르크 등 오스트리아 주요 도시의 다양한 노선에서 순차적으로 운행된다 현대차에 따르면 일렉시티 FCEV는 우수한 성능의 연료전지 시스템과 동급 최대 용량의 수소 탱크를 적용해 1회 충전으로 최대 550 를 주행할 수 있다 현대차는 긴 주행거리와 짧은 충전 시간 등 우수한 상품성을 갖춰 차량 밀도가 높고 신호등 간 거리가 짧은 빈의 도로 요건에 적합하다는 평가를 받아 하이버스 프로젝트의 파트너로 선정됐다 고 밝혔다 현대차는 이번 일렉시티 FCEV의 오스트리아 공급을 통해 차별화된 친환경차 기술력을 입증하는 동시에 향후 수소전기버스 사업을 확장할 수 있을 것으로 전망했다 현대차 관계자는 수소전기버스의 우수한 기술력을 인정받아 해외 최초로 시내버스 정규노선에 투입해 운행하게 되어 굉장히 뜻깊다 면서 앞으로도 다양한 국가에 수소전기버스 보급을 확대해 나갈 수 있도록 지속해서 노력할 것 이라고 말했다 '

In [25]:
len(content_2)

18981

#비교할 데이터 셋 설정

In [98]:
date_df['clean_content'] = content_2
date_df

       Year Month Day                                      clean_content
0      2022    02  26  25일 우크라이나 현지 매체 HB는 트위터에 30초짜리 짧은 영상과 함께 우크라이나...
1      2022    02  14  에마뉘엘 마크롱 프랑스 대통령이 10일 동부 벨포르에서 원자력 발전용 증기 터빈을 ...
2      2022    02  26   정의용 외교부 장관이 25일 전 재외공관장과 화상 회의를 열어 발언하고 있다 외교...
3      2022    02  02  승려들은 왜 반발할까관리자 존재하지만한 쪽으로 치우친 사찰 부지 공공재 인식사찰 주...
4      2022    02  13  사진 가비엔제이 제니 인스타그램 캡처 그룹 가비엔제이 제니와 서린이 걸그룹 출신 불...
...     ...   ...  ..                                                ...
18976  2022    02  17   올라프 숄츠 독일 총리 로이터조 바이든 미국 대통령과 올라프 숄츠 독일 총리는 1...
18977  2022    02  14  김병욱 국민의힘 의원 뉴시스 국민의힘 김병욱 의원은 15일부터 포스코홀딩스 본사 포...
18978  2022    02  21   존 바에즈 에센셜 워크 1천장 한정판 출시전설적인 포크 가수 존 바에즈 존 바에즈...
18979  2022    02  24  지난해 게임업계 동반 실적 부진 신작 지연도 재택근무 영향 주장에 부진 원인을 다른...
18980  2022    02  15  2인 7일 격리시 41만원 14일부터 코로나 생활지원비는 입원 격리통지를 받은 격리...

[18981 rows x 4 columns]

## 방법론 1
  #### 일자별 무지성 기사합치기 

## ***  무지성 합치기는 안됨 ***
  
  why ? hannanum 안에 인풋 데이터가 너무 커서 정상적으로 형태소 분석을 수행해 내지 못함.

In [27]:
r = date_df.groupby(['Year','Month','Day']).sum() # 일자별 기사 합치기 
r

                                                    clean_content
Year Month Day
2022 01    31   31일 광주 서구 화정동 현대산업개발 아이파크 아파트 신축 공사 29 붕괴지점 현장...
     02    01   국내 확진자 사상 첫 1만8000명 돌파2만명 목전 설 끝나면 늘어날 듯설날인 1일...
           02   승려들은 왜 반발할까관리자 존재하지만한 쪽으로 치우친 사찰 부지 공공재 인식사찰 주...
           03   국민의당 안철수 대선 후보가 설 연휴 마지막 날인 2일 서울 중구보건소 선별진료소에...
           04   명품 판타지김윤성 류미연 지음레디앙 430쪽 1만 7000원한정판 골프화를 사기 위...
           05   30년 가까이 정성껏 길러 딸 제시카를 시집까지 보냈는데 지난해 성탄 선물로 유전자...
           06   오미크론 변이 무서운 폭증세 하루 신규 확진 4만명 육박코로나 오미크론 변이가 무서...
           07   4일 오후 중국 베이징 국립경기장에서 열린 2022 베이징 동계올림픽 개회식에서 최...
           08   사진 국회사진기자단 국민의당 안철수 대선 후보는 8일 2022 베이징 동계올림픽 쇼...
           09   Hyundai is targeting the Japanese market anew ...
           10   신규 확진자 5만명 넘어 급증 상황 정부 대응 부실24시간 의료상담센터 전국 145...
           11    1월 소비자물가 7 5 급등 발표 직후 성명 올해 말까지 인플레이션 상당 완화 연...
           12   더불어민주당 이재명 대선후보가 12일 충북 청주시 상당구 성안길에서 즉석연설을 마친...
           13   사진 가비엔제이 제니 인스타그램 캡처 그룹 가비엔제이 제니와 서린이 걸그룹 출신 불...
           14   에마뉘엘 마크롱 프랑스 대통령이 10일 동부 벨포르에서 원자력 발전용 증기 터빈을 ...
           15   인터파크 2021 장르별 톱10 발표 뮤지컬 프랑켄슈타인 연극 쉬어매드니스 1위 콘...
           16    서울 강동구는 지난달 31일 성내동 천호대로 168길 일대 강풀만화거리의 도시경관...
           17   렌터카 교통사고 1년 새 18 늘어 코로나로 이용 증가 탓 지난해 제주를 찾은 관광...
           18   법원 서울 대원 영훈 지위 유지 조희연 판결 유감 즉시 항소서울 대원 영훈 국제중이...
           19   배우 나문희가 모친상을 당했다 나문희의 어머니 이희재씨는 19일 세상을 떠났다 빈소...
           20    법원 판결로 백화점 마트 등 중단 방역 정책 무력화 위기시민들 출입 확인 백신접종...
           21   후보들의 선거유세 중 몸짓퍼포먼스가 화제다 더불어민주당 이재명 대선 후보가 20일 ...
           22   한국관광공사 400억 들여 120객실 4성급전남도와 한국관광공사는 22일 오후 해남...
           23   하버드대의 국내 글로벌 최고경영자과정 HLP 가 3월부터 국내에서 시작된다 HLP ...
           24   P U 시리즈 프로세서 출시고객 기업에 최고성능 제공미국 반도체 기업 인텔이 12세...
           25   지방은 어쩌다 공공의 적이 되었나 한네 블랭크 지음 이은정 옮김황소자리 232쪽 1...
           26   25일 우크라이나 현지 매체 HB는 트위터에 30초짜리 짧은 영상과 함께 우크라이나...
           27   윤석열 국민의힘 대선 후보 27일 유세 일정 전격 취소오후 1시 단일화 입장표명27...

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [80]:
daata  = r['clean_content'][1]

In [81]:
sample = [word[0] for word in han.pos(daata) if word[1] =='N']
# pd.Series(sample).value_counts().head(30)

KeyboardInterrupt: ignored

In [88]:
daata[:150]

'국내 확진자 사상 첫 1만8000명 돌파2만명 목전 설 끝나면 늘어날 듯설날인 1일 오전 서울 송파구 올림픽공원에 마련된 코로나 임시 선별검사소에서 의료진이 검사를 진행하고 있다 설날인 1일 코로나 일일 신규 확진자 수가 사상 최다인 1만8343명으로 집계됐다 확진자 '

In [87]:
han.pos('국내 확진자 사상 첫 1만8000명 돌파2만명 목전 설 끝나면 늘어날 듯설날인 1일')

[('국내', 'N'),
 ('확진자', 'N'),
 ('사상', 'N'),
 ('첫', 'N'),
 ('1만8000명', 'N'),
 ('돌파2만명', 'N'),
 ('목전', 'N'),
 ('서', 'P'),
 ('ㄹ', 'E'),
 ('끝나', 'P'),
 ('면', 'E'),
 ('늘', 'P'),
 ('어', 'E'),
 ('나', 'P'),
 ('ㄹ', 'E'),
 ('듯설날', 'N'),
 ('이', 'J'),
 ('ㄴ', 'E'),
 ('1일', 'N')]

## 방법론 2 
  #### 일자별로 분석후 합치기

In [29]:
day_25 = date_df[date_df['Day']=='25']
day_25.head()

    Year Month Day                                      clean_content
17  2022    02  25  지방은 어쩌다 공공의 적이 되었나 한네 블랭크 지음 이은정 옮김황소자리 232쪽 1...
18  2022    02  25   러시아 제재 발표하는 존슨 영국 총리 오른쪽 사진은 블라디미르 푸틴 러시아 대통령...
20  2022    02  25   배우자 선거운동 도움 안된다 김혜경 53 김건희는 68 TV토론 후보선택에 영향 ...
36  2022    02  25  우리금융그룹 사장 승진 사업지원총괄 박화재 미래성장총괄 전상욱 수석부사장 승진 감사...
76  2022    02  25  매주 성경공부 사경회 전교생 예배로중 고등학교 6년 동안 신앙으로 중무장동급생에 영...

In [30]:
def create_daily_list(x):
  day_x = date_df[date_df['Day']==str(x)] ## 01~ 31 
  day_x_content = list(day_x['clean_content'])
  return day_x_content

In [ ]:
create_daily_list(25) # 일별 기사 리스트화

In [ ]:
list(date_df[date_df['Day']=='25']['clean_content'])

In [33]:
day_25_content = list(day_25['clean_content'])

In [ ]:
day_25_content

In [ ]:
# 25일 기준 샘플 
lst_sample = []
for i in range(len(day_25_content)):
  sample = [word[0] for word in han.pos(clean_text(day_25_content[i])) if word[1] =='N']
  lst_sample.append(sample)

  #  for word in han.pos(clean_text(day_25_content[i])):

  #   if word[1] =='N':
  #     lst_sample.append(word[0])

In [ ]:
###########################
#일별 데이터프레임 생성###
##########################
for k in set(date_df['Day']):
  lst_sample_k = []
  input_data = create_daily_list(k) 
  for i in range(len(input_data)):
    sample = [word[0] for word in han.pos(clean_text(input_data[i])) if word[1] =='N']
    lst_sample_k.append(sample)

### 1일자 카운팅

In [99]:
lst_sample_01 = []
input_data = create_daily_list('01') 
for i in range(len(input_data)):
  sample = [word[0] for word in han.pos(clean_text(input_data[i])) if word[1] =='N']
  lst_sample_01.append(sample)

In [ ]:
lst_sample_01

In [101]:
pd.concat([pd.Series(lst_sample[0]),pd.Series(lst_sample[1])]) # 일별 모든 content 분석하고 합쳐 놓기.

NameError: ignored

In [102]:
# lst_sample
result_01 = sum(lst_sample_01,[]) # 리스트 합치기 
len(result)

54332

In [103]:
pd.Series(result_01).value_counts().head(40)

것       828
후보      654
등       542
수       534
이       435
말       236
며       210
전       200
대선      195
중       194
지난해     183
라       181
그       179
이날      157
1일      154
정부      151
코       144
일본      142
씨       142
윤       139
1       138
때       137
미국      133
일       130
국민의힘    130
서울      129
지난달     118
중국      104
사람      104
지역      102
저       102
이재명     101
때문      101
토론       99
이후       98
우리       98
이상       97
윤석열      97
총리       97
대표       96
dtype: int64

In [104]:
def counting_daily_word(x): # 두자리로 입력 
  lst_sample_x = []
  input_data = create_daily_list(str(x)) 
  for i in range(len(input_data)):
    sample = [word[0] for word in han.pos((input_data[i])) if word[1] =='N']
    lst_sample_x.append(sample)
  result_x = sum(lst_sample_x,[]) # 리스트 합치기 
  final_ = pd.Series(result_x).value_counts().head(50)
  return final_

In [66]:
counting_daily_word('01')

것       828
후보      654
등       542
수       534
이       435
말       236
며       210
전       200
대선      195
중       194
지난해     183
라       181
그       179
이날      157
1일      154
정부      151
코       144
일본      142
씨       142
윤       139
1       138
때       137
미국      133
일       130
국민의힘    130
서울      129
지난달     118
중국      104
사람      104
지역      102
dtype: int64

In [67]:
counting_daily_word('02')

것       1627
등       1155
이       1037
후보      1035
수        884
전        562
중        477
말        469
며        418
지난달      392
지난해      385
코        368
2일       336
대선       327
정부       285
그        281
의원       279
중국       269
라        259
이날       245
윤        234
때        225
미국       222
씨        220
국민의힘     216
1        210
북한       207
확진자      206
검사       205
2        205
dtype: int64