In [1]:
# 중/장기 투자를 할 때 추세를 보기 위해서는 MCAD를 참고할 것을 권함 
#  추세를 가장 잘 나타내는 MACD 지표를 공부해보고 , 향후 매매에 활용

In [2]:
import yfinance as yf 
import pandas as pd 
import os 
import matplotlib.pyplot as plt
import talib
import numpy as np 
import FinanceDataReader as fdr
import warnings
warnings.filterwarnings('ignore')

# Load data

In [3]:
df_krx = fdr.StockListing('KRX')
df_krx = df_krx.dropna()
df_krx.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [14]:
##########
### sample 
##########
df_data = fdr.DataReader('006840','2022-01-01')
df_data

             Open   High    Low  Close  Volume    Change
Date
2022-01-03  19550  19600  19250  19550   12856  0.012953
2022-01-04  19650  19750  19450  19750   16468  0.010230
2022-01-05  19950  20000  19700  19750   23529  0.000000
2022-01-06  19600  19850  19550  19550   12954 -0.010127
2022-01-07  19450  19900  19450  19500   14467 -0.002558
...           ...    ...    ...    ...     ...       ...
2022-06-16  17450  17800  16550  16700   38377 -0.023392
2022-06-17  16550  17150  16100  17050   42072  0.020958
2022-06-20  17100  17200  15900  16200   37970 -0.049853
2022-06-21  16100  16600  15950  16600   18910  0.024691
2022-06-22  16450  16650  16300  16500    2039 -0.006024

[115 rows x 6 columns]

In [26]:
# Create macd index

# MACD 단기 
df_data['MACD_short'] = df_data['Close'].ewm(12).mean() # evm 지수이동평균 
# df_data.head()

# MACD 장기 
df_data['MACD_long'] = df_data['Close'].ewm(26).mean() #evm 지수이동평균 
# df_data.head()

# MACD 
df_data['MACD'] = df_data.apply(lambda x:(x['MACD_short'] -x['MACD_long']),axis=1)

# MACD Siginal
df_data['Siginal'] = df_data['MACD'].rolling(window=9).mean()

print(df_data)
'''매매기법
1.macd 곡선이 siginal 곡선을 상향 돌파 할 때 매수, 하향 돌파할떄 매도 
2.MACD 값이 0 선을 상향돌파시 매수, 하향돌파할때 매도 
3. MACD 값이 siginal선을 크로스 상향돌파할떄 매수시점, 크로스 하향돌파할떄를 매도시점으로 인식 
'''

             Open   High    Low  Close  Volume    Change    MACD_short  \
Date
2022-01-03  19550  19600  19250  19550   12856  0.012953  19550.000000
2022-01-04  19650  19750  19450  19750   16468  0.010230  19654.000000
2022-01-05  19950  20000  19700  19750   23529  0.000000  19688.592751
2022-01-06  19600  19850  19550  19550   12954 -0.010127  19649.680511
2022-01-07  19450  19900  19450  19500   14467 -0.002558  19614.771233
...           ...    ...    ...    ...     ...       ...           ...
2022-06-16  17450  17800  16550  16700   38377 -0.023392  19633.748036
2022-06-17  16550  17150  16100  17050   42072  0.020958  19434.972777
2022-06-20  17100  17200  15900  16200   37970 -0.049853  19186.099350
2022-06-21  16100  16600  15950  16600   18910  0.024691  18987.146960
2022-06-22  16450  16650  16300  16500    2039 -0.006024  18795.808725

               MACD_long         MACD     Siginal
Date
2022-01-03  19550.000000     0.000000         NaN
2022-01-04  19651.886792     2.113208         NaN
2022-01-05  19685.832938     2.759813         NaN
2022-01-06  19649.928826    -0.248314         NaN
2022-01-07  19617.638117    -2.866884         NaN
...                  ...          ...         ...
2022-06-16  20342.062292  -708.314256 -464.490892
2022-06-17  20218.327866  -783.355090 -506.309781
2022-06-20  20067.379068  -881.279718 -561.022730
2022-06-21  19937.195447  -950.048487 -625.289632
2022-06-22  19808.210629 -1012.401904 -696.560100

[115 rows x 10 columns]

'매매기법\n1.macd 곡선이 siginal 곡선을 상향 돌파 할 때 매수, 하향 돌파할떄 매도 \n2.MACD 값이 0 선을 상향돌파시 매수, 하향돌파할때 매도 \n3. MACD 값이 siginal선을 크로스 상향돌파할떄 매수시점, 크로스 하향돌파할떄를 매도시점으로 인식 \n'

# Trading