In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\windows\[2380861]python38_64bit_base\python-3.8.9.amd64\lib\site-packages (0.1.70)
Requirement already satisfied: pandas>=0.24.0 in c:\windows\[2380861]python38_64bit_base\python-3.8.9.amd64\lib\site-packages (from yfinance) (1.4.1)
Requirement already satisfied: requests>=2.26 in c:\windows\[2380861]python38_64bit_base\python-3.8.9.amd64\lib\site-packages (from yfinance) (2.27.1)
Requirement already satisfied: numpy>=1.15 in c:\windows\[2380861]python38_64bit_base\python-3.8.9.amd64\lib\site-packages (from yfinance) (1.22.2)
Requirement already satisfied: multitasking>=0.0.7 in c:\windows\[2380861]python38_64bit_base\python-3.8.9.amd64\lib\site-packages (from yfinance) (0.0.10)
Requirement already satisfied: lxml>=4.5.1 in c:\windows\[2380861]python38_64bit_base\python-3.8.9.amd64\lib\site-packages (from yfinance) (4.8.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\windows\[2380861]python38_64bit_base\python-3.8.9.amd64\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\windows\[2380861]python38_64bit_base\python-3.8.9.amd64\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\windows\[2380861]python38_64bit_base\python-3.8.9.amd64\lib\site-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in c:\windows\[2380861]python38_64bit_base\python-3.8.9.amd64\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\windows\[2380861]python38_64bit_base\python-3.8.9.amd64\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\windows\[2380861]python38_64bit_base\python-3.8.9.amd64\lib\site-packages (from requests>=2.26->yfinance) (1.26.8)
Requirement already satisfied: six>=1.5 in c:\windows\[2380861]python38_64bit_base\python-3.8.9.amd64\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)

In [20]:
import yfinance as yf 
import pandas as pd 
import os

In [26]:
aapl = yf.download('AAPL',start='2020-01-01')

[*********************100%***********************]  1 of 1 completed

In [10]:
aapl= pd.DataFrame(aapl)

In [11]:
aapl

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-12-31,72.482498,73.419998,72.379997,73.412498,72.139954,100805600
2020-01-02,74.059998,75.150002,73.797501,75.087502,73.785919,135480400
2020-01-03,74.287498,75.144997,74.125000,74.357498,73.068573,146322800
2020-01-06,73.447502,74.989998,73.187500,74.949997,73.650795,118387200
2020-01-07,74.959999,75.224998,74.370003,74.597504,73.304413,108872000
...,...,...,...,...,...,...
2022-06-01,149.899994,151.740005,147.679993,148.710007,148.710007,74286600
2022-06-02,147.830002,151.270004,146.860001,151.210007,151.210007,72348100
2022-06-03,146.899994,147.970001,144.460007,145.380005,145.380005,88471400
2022-06-06,147.029999,148.570007,144.899994,146.139999,146.139999,71598400
2022-06-07,144.350006,149.000000,144.100006,148.710007,148.710007,67713600

In [22]:
os.getcwd()

'C:\\Windows\\[2380861]python38_64bit_base\\notebooks\\technical_analysis'

In [23]:
# ta-lib 임포트 
!pip --trusted-host pypi.org --trusted-host files.pythonhosted.org install TA_Lib-0.4.24-cp38-cp38-win_amd64.whl

Processing c:\windows\[2380861]python38_64bit_base\notebooks\technical_analysis\ta_lib-0.4.24-cp38-cp38-win_amd64.whl
Requirement already satisfied: numpy in c:\windows\[2380861]python38_64bit_base\python-3.8.9.amd64\lib\site-packages (from TA-Lib==0.4.24) (1.22.2)
Installing collected packages: TA-Lib
Successfully installed TA-Lib-0.4.24

In [28]:
import talib
ubb, mbb, lbb = talib.BBANDS(aapl.Close, 20, 2)
aapl['ubb'] = ubb
aapl['mbb'] = mbb
aapl['lbb'] = lbb

In [29]:
aapl

,Open,High,Low,Close,Adj Close,Volume,ubb,mbb,lbb
Date,,,,,,,,,
2019-12-31,72.482498,73.419998,72.379997,73.412498,72.139938,100805600,NaN,NaN,NaN
2020-01-02,74.059998,75.150002,73.797501,75.087502,73.785919,135480400,NaN,NaN,NaN
2020-01-03,74.287498,75.144997,74.125000,74.357498,73.068565,146322800,NaN,NaN,NaN
2020-01-06,73.447502,74.989998,73.187500,74.949997,73.650810,118387200,NaN,NaN,NaN
2020-01-07,74.959999,75.224998,74.370003,74.597504,73.304405,108872000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2022-06-01,149.899994,151.740005,147.679993,148.710007,148.710007,74286600,161.651302,147.415501,133.179699
2022-06-02,147.830002,151.270004,146.860001,151.210007,151.210007,72348100,158.255970,146.675001,135.094032
2022-06-03,146.899994,147.970001,144.460007,145.380005,145.380005,88471400,156.725063,146.105501,135.485939
2022-06-06,147.029999,148.570007,144.899994,146.139999,146.139999,71598400,154.852288,145.548501,136.244713
2022-06-07,144.350006,149.000000,144.100006,148.710007,148.710007,67713600,154.323447,145.381001,136.438555

In [ ]:
#볼린저 밴드 
#밴드의 폭이 이전보다 상대적으로 크거나 줄어들 경우, 과매수 또는 과매도 상태로가늠한다.