In [1]:
import pandas as pd 
import re

In [4]:
etf_stock_df = pd.read_csv('C:/Windows\[2380861]python38_64bit_base/notebooks/Git_hub/korea_/Overseas stock/Dataset/final_stock_df.csv')
etf_stock_df.head()

  etf_names                                     stock_names
0      KORP                                     U.S. Dollar
1      KORP  Bank of America Corporation 3.419% 20-DEC-2028
2      KORP               Morgan Stanley 2.188% 28-APR-2026
3      KORP            HSBC Holdings Plc 2.099% 04-JUN-2026
4      KORP  Verizon Communications Inc. 4.329% 21-SEP-2028

In [5]:
theme_etf = pd.read_csv('C:/Windows\[2380861]python38_64bit_base/notebooks/Git_hub/korea_/Overseas stock/Dataset/etf_theme_url.csv')
theme_etf.head()

   Unnamed: 0 Theme                       URL
0           0    5G  https://www.etf.com/FIVG
1           1    5G  https://www.etf.com/NXTG
2           2    5G  https://www.etf.com/TENG
3           3    5G  https://www.etf.com/WUGI
4           4    5G   https://www.etf.com/CWC

In [6]:
p=re.compile('[A-Z]+')
m = p.search('https://www.etf.com/FIVG')
m.group(0)

'FIVG'

In [7]:
[p.search(for i in theme_etf['URL']]

SyntaxError: invalid syntax (4023455058.py, line 1)

In [8]:
p=re.compile('[A-Z]+')
# m = p.search('https://www.etf.com/FIVG')
# m.group(0)
lst=[]
for i in theme_etf['URL']:
    m= p.search(i)
    lst.append(m[0])
theme_etf['etf_names']=lst
theme_etf.head()

   Unnamed: 0 Theme                       URL etf_names
0           0    5G  https://www.etf.com/FIVG      FIVG
1           1    5G  https://www.etf.com/NXTG      NXTG
2           2    5G  https://www.etf.com/TENG      TENG
3           3    5G  https://www.etf.com/WUGI      WUGI
4           4    5G   https://www.etf.com/CWC       CWC

In [21]:
theme_etf[theme_etf['etf_names']=='ITA']

   Unnamed: 0                Theme                      URL etf_names
5           5  Aerospace & Defense  https://www.etf.com/ITA       ITA

In [14]:
new =theme_etf.iloc[:,1:][['Theme','etf_names']]
new.to_csv('C:/Windows\[2380861]python38_64bit_base/notebooks/Git_hub/korea_/Overseas stock/Dataset/Theme_ETSnames.csv')

In [9]:
etf_stock_df

       etf_names                                     stock_names
0           KORP                                     U.S. Dollar
1           KORP  Bank of America Corporation 3.419% 20-DEC-2028
2           KORP               Morgan Stanley 2.188% 28-APR-2026
3           KORP            HSBC Holdings Plc 2.099% 04-JUN-2026
4           KORP  Verizon Communications Inc. 4.329% 21-SEP-2028
...          ...                                             ...
153604      AILV              American International Group, Inc.
153605      AILV                                S&P Global, Inc.
153606      AILV                                 BlackRock, Inc.
153607      AILV                        Motorola Solutions, Inc.
153608      AILV                                     U.S. Dollar

[153609 rows x 2 columns]

In [23]:
etf_stock_df[etf_stock_df['etf_names']=='ITA'] ### 기존 final_df 에서 데이터 결함 ㅇㅇ

Empty DataFrame
Columns: [etf_names, stock_names]
Index: []

In [10]:
df_LEFT_JOIN = pd.merge(etf_stock_df, theme_etf, on='etf_names', how='left')
df_LEFT_JOIN

,etf_names,stock_names,Unnamed: 0,Theme,URL
0,KORP,U.S. Dollar,745.0,Intermediate,https://www.etf.com/KORP
1,KORP,Bank of America Corporation 3.419% 20-DEC-2028,745.0,Intermediate,https://www.etf.com/KORP
2,KORP,Morgan Stanley 2.188% 28-APR-2026,745.0,Intermediate,https://www.etf.com/KORP
3,KORP,HSBC Holdings Plc 2.099% 04-JUN-2026,745.0,Intermediate,https://www.etf.com/KORP
4,KORP,Verizon Communications Inc. 4.329% 21-SEP-2028,745.0,Intermediate,https://www.etf.com/KORP
...,...,...,...,...,...
153604,AILV,"American International Group, Inc.",1387.0,Value,https://www.etf.com/AILV
153605,AILV,"S&P Global, Inc.",1387.0,Value,https://www.etf.com/AILV
153606,AILV,"BlackRock, Inc.",1387.0,Value,https://www.etf.com/AILV
153607,AILV,"Motorola Solutions, Inc.",1387.0,Value,https://www.etf.com/AILV
153608,AILV,U.S. Dollar,1387.0,Value,https://www.etf.com/AILV

In [52]:
clean_df = df_LEFT_JOIN[['etf_names','stock_names','Theme']]
clean_df

       etf_names                                     stock_names         Theme
0           KORP                                     U.S. Dollar  Intermediate
1           KORP  Bank of America Corporation 3.419% 20-DEC-2028  Intermediate
2           KORP               Morgan Stanley 2.188% 28-APR-2026  Intermediate
3           KORP            HSBC Holdings Plc 2.099% 04-JUN-2026  Intermediate
4           KORP  Verizon Communications Inc. 4.329% 21-SEP-2028  Intermediate
...          ...                                             ...           ...
153604      AILV              American International Group, Inc.         Value
153605      AILV                                S&P Global, Inc.         Value
153606      AILV                                 BlackRock, Inc.         Value
153607      AILV                        Motorola Solutions, Inc.         Value
153608      AILV                                     U.S. Dollar         Value

[153609 rows x 3 columns]

In [54]:
clean_df['Theme'].isna().sum()

7864

In [56]:
clean_df.dropna(subset=['Theme'], inplace=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13500\3077199751.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df.dropna(subset=['Theme'], inplace=True)

In [60]:
final_theme_df = clean_df

In [61]:
final_theme_df.to_csv('C:/Windows/[2380861]python38_64bit_base/notebooks/Git_hub/korea_/Business Project/dataset/final_theme_df.csv')